In [14]:
import requests
import tarfile
import glob
import os
import pandas as pd
from datetime import datetime
import sqlalchemy as sql

start_year = 1950
end_year = 2000

# Iterate over the range of years
for year in range(start_year, end_year + 1):
    url = f"https://www.ncei.noaa.gov/data/global-summary-of-the-day/archive/{year}.tar.gz"
    response = requests.get(url, stream=True)
    
    # Specify the output path for each year
    output_path = f"/users/yorkmacbook023/ETL_Assignment/Testing/{year}"
    
    # Extract the tar.gz file
    with tarfile.open(fileobj=response.raw, mode="r|gz") as file:
        file.extractall(path=output_path)

    print(f"Data for {year} downloaded and extracted to {output_path}")

Data for 1950 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1950
Data for 1951 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1951
Data for 1952 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1952
Data for 1953 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1953
Data for 1954 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1954
Data for 1955 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1955
Data for 1956 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1956
Data for 1957 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1957
Data for 1958 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1958
Data for 1959 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1959
Data for 1960 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1960
Data for 1961 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1961
Data for 1962 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1962
Data for 1963 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1963
Data for 1964 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1964
Data for 1965 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1965
Data for 1966 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1966
Data for 1967 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1967
Data for 1968 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1968
Data for 1969 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1969
Data for 1970 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1970
Data for 1971 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1971
Data for 1972 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1972
Data for 1973 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1973
Data for 1974 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1974
Data for 1975 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1975
Data for 1976 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1976
Data for 1977 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1977
Data for 1978 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1978
Data for 1979 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1979
Data for 1980 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1980
Data for 1981 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1981
Data for 1982 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1982
Data for 1983 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1983
Data for 1984 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1984
Data for 1985 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1985
Data for 1986 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1986
Data for 1987 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1987
Data for 1988 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1988
Data for 1989 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1989
Data for 1990 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1990
Data for 1991 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1991
Data for 1992 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1992
Data for 1993 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1993
Data for 1994 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1994
Data for 1995 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1995
Data for 1996 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1996
Data for 1997 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1997
Data for 1998 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1998
Data for 1999 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/1999
Data for 2000 downloaded and extracted to /users/yorkmacbook023/ETL_Assignment/Testing/2000

In [15]:
import pandas as pd
import sqlalchemy as sql
import glob

# Define the range of years
start_year = 1950
end_year = 2000

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each year in the range
for year in range(start_year, end_year + 1):
    # Construct the path for CSV files for each year
    csv_files = glob.glob(f"/Users/yorkmacbook023/ETL_Assignment/Testing/{year}/*.csv")

    # Initialize an empty list to store DataFrames for the current year
    dfs_year = []

    # Iterate through each CSV file for the current year starting with '7' or '69'
    for csv_file in csv_files:
        # Include files starting with '7', '69', and '99', but exclude '71'
        if csv_file.split("/")[-1].startswith(('7', '69', '99')) and not csv_file.split("/")[-1].startswith(('71','76')):
            df = pd.read_csv(csv_file)
            #df = df[df['NAME'].astype(str).str.contains('AK|HI', case=False, na=False)]
            df = df[df['NAME'].astype(str).str.contains('US', case=False, na=False) & ~df['NAME'].astype(str).str.contains('AK|HI', case=False, na=False)]

            # Replace values of 99.99 in the 'PRCP' column with 0
            df['PRCP'].replace(99.99, 0, inplace=True)

            # Replace values of 9999.9 in 'MAX', 'MIN', 'TEMP' columns with NaN
            df[['MAX', 'MIN', 'TEMP']] = df[['MAX', 'MIN', 'TEMP']].replace(9999.9, float('nan'))
            df.dropna(subset=['TEMP', 'MIN', 'MAX', 'PRCP'], inplace=True)

            dfs_year.append(df)
            # Delete the CSV file after reading and processing
            os.remove(csv_file)




    # Concatenate all DataFrames for the current year
    combined_data_year = pd.concat(dfs_year, ignore_index=True)

    # Convert the 'DATE' column to datetime for easier manipulation
    combined_data_year['DATE'] = pd.to_datetime(combined_data_year['DATE'], format='%Y-%m-%d')

    # Append the DataFrame for the current year to the list
    dfs.append(combined_data_year)

# Concatenate all DataFrames for the entire range of years
combined_data = pd.concat(dfs, ignore_index=True)

# Aggregate the data on a monthly basis, including additional metrics
monthly_aggregated_data = combined_data.groupby(pd.Grouper(key='DATE', freq='M')).agg({
    'TEMP': ['mean', 'median', 'var'],
    'PRCP': ['sum', 'mean', 'median', 'var', 'min', 'max'],
    'MIN': 'min',
    'MAX': 'max'
}).reset_index()




# Rename columns for clarity
monthly_aggregated_data.columns = [
    'DATE', 'MEAN_TEMP', 'MEDIAN_TEMP', 'VAR_TEMP', 'TOTAL_PRCP', 'MEAN_PRCP', 'MEDIAN_PRCP', 'VAR_PRCP', 'MIN_PRCP', 'MAX_PRCP', 'MIN', 'MAX'
]

# Display the resulting DataFrame
print(monthly_aggregated_data)
csv_output_path = "/Users/yorkmacbook023/classDay1/Kanwalpreet-Kaur-weather-ETL/monthly_aggregated_data.csv"
monthly_aggregated_data.to_csv(csv_output_path, index=False)
print(f"CSV file saved at: {csv_output_path}")

          DATE  MEAN_TEMP  MEDIAN_TEMP    VAR_TEMP  TOTAL_PRCP  MEAN_PRCP  \
0   1950-01-31  37.728782         38.9  422.453940      119.92   0.006645
1   1950-02-28  39.594828         39.8  269.712350       79.53   0.004839
2   1950-03-31  42.962140         42.7  238.036702      111.07   0.006146
3   1950-04-30  51.908767         51.6  169.314507       88.57   0.005078
4   1950-05-31  62.570687         62.7  130.067132      100.64   0.005619
..         ...        ...          ...         ...         ...        ...
607 2000-08-31  74.472012         74.3   81.534235     1879.42   0.051388
608 2000-09-30  67.196867         67.3  134.149328     2468.62   0.069812
609 2000-10-31  57.564186         57.6  130.491212     1763.95   0.048162
610 2000-11-30  42.655549         42.6  216.265050     1973.34   0.055992
611 2000-12-31  31.289599         30.9  313.108558     1200.03   0.033197

     MEDIAN_PRCP  VAR_PRCP  MIN_PRCP  MAX_PRCP   MIN    MAX
0            0.0  0.004800       0.0      2.68 -50.1   93.4
1            0.0  0.002962       0.0      1.65 -38.9   92.3
2            0.0  0.004164       0.0      2.09 -29.0  105.1
3            0.0  0.003135       0.0      2.44 -13.0  105.1
4            0.0  0.004967       0.0      4.53  12.0  108.0
..           ...       ...       ...       ...   ...    ...
607          0.0  0.047307       0.0      7.16  26.6  119.5
608          0.0  0.094526       0.0      9.23  10.4  127.9
609          0.0  0.053222       0.0     12.48 -14.8  104.5
610          0.0  0.056238       0.0      6.74 -32.8   93.2
611          0.0  0.030057       0.0     13.90 -49.0   91.8

[612 rows x 12 columns]
CSV file saved at: /Users/yorkmacbook023/classDay1/Kanwalpreet-Kaur-weather-ETL/monthly_aggregated_data.csv

In [18]:
e = sql.create_engine(
        'postgresql://postgres:password@localhost:5432/postgres')

df = pd.read_csv("/Users/yorkmacbook023/classDay1/Kanwalpreet-Kaur-weather-ETL/monthly_aggregated_data.csv")
with e.begin() as connection:
    df.to_sql("Monthly_weather_data", con=connection)

ValueError: Table 'Monthly_weather_data' already exists.